body {
  font-family: "Bai Jamjuree";
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.background-image-mobile {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%
}

.background-image-desktop {
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  width: 40%;
}

.container {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
    padding-left:10px;
    padding-right:10px;
  }
.logo-container {
padding: 5px;
}

.first-title {
  font-weight: 500;
  font-size: 20px;
}

.first-description {
  color: rgb(96,96,96);
  margin-top: 10px;
  margin-bottom: 20px;
  text-align:center;
}

.ios-button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  color: white;
  background-color: rgb(0, 115, 128);
  border-radius: 25px;
  font-size: 16px;
  font-family: "Bai Jamjuree";
}
.mac-button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  color: white;
  background-color: rgb(40, 92, 235);
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
  font-family: "Bai Jamjuree";
}
.computer-screen, .devices {
  height: 200px;
}

.divide {
  padding-top: 45px;
}
.small-divide {
  padding-top: 5px;
}

.medium-divide {
  padding-top: 20px;
}

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 400px;
  z-index: 90;
  background-color: rgb(237, 237, 237);
}

.logo-bottom {
  height: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.bottom-logos-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  gap: 40px;
  margin-top: 30px;
}
.bottom-info {
  color: rgb(91, 91, 91);
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.computer-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-row-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feature-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 376px) {
  body {
  font-family: "Bai Jamjuree";
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-width: 1600px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.background-image-desktop {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  width: 100%;
}

.background-image-mobile {
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  width: 100%;
}

.container {
    width: 100%;
    display: flex;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    z-index: 101;
  }
.logo-container {
padding: 5px;
padding-top: 10px;
}

.first-title {
  font-weight: 500;
  font-size: 30px;
}

.first-description {
  color: rgb(96,96,96);
  margin-top: 10px;
  margin-bottom: 20px;
  text-align:center;
}

.ios-button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  color: white;
  background-color: rgb(0, 115, 128);
  border-radius: 90px;
  font-size: 20px;
  font-family: "Bai Jamjuree";
}
.mac-button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  color: white;
  background-color: rgb(40, 92, 235);
  border-radius: 90px;
  margin: 0;
  font-size: 20px;
  font-family: "Bai Jamjuree";
}
.computer-screen, .devices {
  height: 500px;
}

.divide {
  padding-top: 45px;
}
.small-divide {
  padding-top: 5px;
}

.medium-divide {
  padding-top: 20px;
}

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 420px;
  z-index: 99;
  background-color: rgb(237, 237, 237);
}

.logo-bottom {
  height: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.bottom-logos-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  gap: 40px;
  margin-top: 30px;
}
.bottom-info {
  color: rgb(91, 91, 91);
  text-align: center;
}

.button-container {
display: flex;
flex-direction: row;
margin-top: 10px;
gap: 10px;
}
.computer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.text-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.computer-screen {
  margin-left: -190px;
}

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.features-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.feature-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 270px;
}

}
